@charset "UTF-8";

	input[type="date"] {
		width: 180.64px;
		height: 30px;
	}
	
	input[type="text"] {
	    width: 180.64px;
		height: 30px;
	}
	
	input[type="number"] {
	    width: 100px;
		height: 30px;
	}
	
	select.search {
		width: 180.64px;
		height: 30px;
	}
	
	.red-check{
		accent-color: red;
	}
	
	input:disabled {
		background: gray;
	}

	#container {		
/* 		margin-left: 50px; */
		position: static;
		height: 100%;
	}

	#searchBox {
/* 		width: 92%; */
	    margin: 23px auto 20px auto;
	    box-shadow: 2px -1px 4px #b1b1b1;
	    font-size: 14px;
	    display: flex;
	    justify-content: space-between;
	
/* 		position: inherit; */
/* 		width: 90%; */
/* 		height: 230px; */
	
/*  		height: 150px; */
/*  		width: 120vh; */
/* 		margin-top: 50px; */
        background: #c3d4ae;
		color: white;
/* 		border-radius: 10px; */
	}
	
	.searchInBox{
    	margin: 20px;
	}
	
	.search-sub-div{
	    display: flex;
	    margin-bottom: 9px;
	}
	
	.search-item-div{
	    width: 260px;
	    display: flex;
	    align-items: center;
	    margin-left: 10px;
	    margin-right: 10px;
	}
	
	.search-item-text{
   		width: 80px;
	}
	
	.search-item-div>input{
		border: none;
/* 	    background-color: #d7d7d7; */
	    height: 25px;
	    position: static;
	}
	
	.search-btn{
/* 	    width: 106px; */
	    display: flex;
/* 	    align-items: center; */
/* 	    justify-content: center; */
/* 	    background-color: #242d49; */
/* 	    font-size: 15px; */
/* 	    font-weight: 400; */
	    cursor: pointer;
/* 	    border-color: white; */
	}
	#searchBtn {
		width: 70px;
		background: #879971;
	    color: white;
	    border-color: #c3d4ae;
	}
	#initBtn {
		width: 30px;
		background: #879971;
	    color: white;
	    border-color: #c3d4ae;
	}
	
	#button-div {
		margin-bottom: 15px;
	}
	#page {
		float: right;
	}
	
	.table{
		background-color: #fff;
	    overflow-x: hidden;
	    resize: both;
	    box-shadow: 2px -1px 4px #b1b1b1;
	    overflow-y: scroll;
	    
/* 		position:inherit; */
/* 		overflow: auto; */
/* 		width: 90%; */
		
/* 		height: 40vh; */
/* 		width: 120vh; */

		height: 320px;
	}
	.list {	
		margin: 4px 10px 0 10px;
		border-collapse: collapse;
		font-size: 12px;
/* 		width:1350px; */
 		width: 100%;
/* 		border: 1px solid; */
		
	}
	
	tr{
		height: 28.6px;
	}
	td{
		text-align: center;
		border-bottom: 1px solid #444444;
	    border-left: 1px solid #444444;
	    padding: 2px;
	}
	th{
		border-bottom: 1px solid #444444;
	    border-left: 1px solid #444444;
	    padding: 5px;
	}
	th:first-child, td:first-child {
	    border-left: none;
	}	
	
	tr th {
        background: #c3d4ae;
		color: white;
	}
	
	#page {
		display: inline-block;
	}
	
	#pageBtn {
		display: flex;
	    text-align: right;
	    justify-content: flex-end;
	    align-items: baseline;
	}
	#next {
		cursor: pointer;
	}
	#prev {
		cursor: pointer;
	}
	
	#currentPage {
		width: 40px;
	}
	
	.paging-btn {
		display: inline;
	}

	#reason {
		float : left;
	}
	
	
		/* 마우스 오버(마우스 올렸을때) */
	tr{
		color: black;
	}
	tr:hover{
	    background-color: #f4f4f4;
	    cursor: pointer;
	}
	/* 마우스 클릭하고있을때 */
	tr:active{
	    background-color: #B9E2FA;
	}
	
	.clickColor {
		background-color: #B9E2FA;
		
	}
	

	/* 팝업 추가창 */
	.background {
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100vh;
	  background-color: rgba(0, 0, 0, 0.3);
	  z-index: 1000;
	  
	  /* 숨기기 */
	  z-index: -1;
	  opacity: 0;
	}
	
	.window {
	  position: relative;
	  width: 100%;
	  height: 100%;
	}
	
	.popup {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  background-color: #ffffff;
	  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	  
	  /* 임시 지정 */
	  width: 600px;
	  height: 600px;
	  
	  /* 초기에 약간 아래에 배치 */
	  transform: translate(-50%, -40%);
	}
	
	.show {
	  opacity: 1;
	  z-index: 1000;
	  transition: all .5s;
	}
	
	.show .popup {
	  transform: translate(-50%, -50%);
	  transition: all .5s;
	}
	
	#close {
		float: right;
		font-size: x-large;
	}
	
	#item {
		border: 1px solid;
	}
	
	
	.sumo {
		color : black;
	}
	li.opt {
		color : black;
	}
	
	
	.fixed {
		position: sticky;
		top: 0;
	}
	
	#insert-form{
		boder: 1px solid black;
	}
		
	.insert-btn {
		margin-bottom: 20px;
	    margin-top: 10px;
	    text-align: center;
	}
	
	.readonly {
		background-color: silver;
	}
	
	#excelBtn {
	    border-style: none;
    	background: #fcfaee
	}
	
	#excelImg {
		width: 30px;
   		margin-bottom: -9px;
   		cursor: pointer;
	}
	
	
	
	
	